In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime as dt

### 1. Practice Questions

In [6]:
df_sal = pd.read_csv("Sample - Superstore.csv")
df_sal.head(2)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,08-11-2016,11-11-2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
1,2,CA-2016-152156,08-11-2016,11-11-2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820

In [7]:
# containing anything in column
df = df_sal["Customer Name"].str.contains('C.*')
print(df)

0       True
1       True
2      False
3      False
4      False
       ...
196     True
197    False
198    False
199    False
200    False
Name: Customer Name, Length: 201, dtype: bool

In [8]:
#  Calculate Month-over-Month (MoM) Sales Percentage Change
df_sal.head()
df_sal['Order Date'] = pd.to_datetime(df_sal['Order Date'],format = '%d-%m-%Y')
df_sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         201 non-null    int64
 1   Order ID       201 non-null    object
 2   Order Date     201 non-null    datetime64[ns]
 3   Ship Date      201 non-null    object
 4   Ship Mode      201 non-null    object
 5   Customer ID    201 non-null    object
 6   Customer Name  201 non-null    object
 7   Segment        201 non-null    object
 8   Country        201 non-null    object
 9   City           201 non-null    object
 10  State          201 non-null    object
 11  Postal Code    201 non-null    int64
 12  Region         201 non-null    object
 13  Product ID     201 non-null    object
 14  Category       201 non-null    object
 15  Sub-Category   201 non-null    object
 16  Product Name   201 non-null    object
 17  Sales          201 non-null    float64
 18  Quantity       201 non-null    int64
 19  Discount       201 non-null    float64
 20  Profit         201 non-null    float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(14)
memory usage: 33.1+ KB

In [9]:
df_sal['Month'] = df_sal['Order Date'].dt.to_period(freq ='M')
df_sal.head(2)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Month
0,1,CA-2016-152156,2016-11-08,11-11-2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136,2016-11
1,2,CA-2016-152156,2016-11-08,11-11-2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820,2016-11

In [10]:
monthly_sales = df_sal.groupby('Month')['Sales'].sum()
monthly_sales.head()
mon_change = monthly_sales.pct_change()*100
mon_change.head

# df_sal['pre_sal']= df_sal['Sales'].shift(1)
# df_sal['p_change'] = ((df_sal['Sales']-df_sal['pre_sal'])/df_sal['pre_sal'])*100
# print(df_sal)

<bound method NDFrame.head of Month
2014-03             NaN
2014-05      -88.217161
2014-06     6592.439640
2014-08      -70.576991
2014-09      927.597679
2014-10      -96.953412
2014-11      299.864967
2014-12       69.222054
2015-01      -95.712515
2015-03      693.401169
2015-04      100.909045
2015-05      -84.110291
2015-09     1987.020405
2015-10      -42.763749
2015-11      -62.424149
2015-12       14.014505
2016-01      -92.055290
2016-03      315.331938
2016-04      -62.696917
2016-05      -96.223985
2016-06    25398.160535
2016-07      -91.138452
2016-08       20.180580
2016-09       63.472670
2016-10       -3.489791
2016-11      852.346641
2016-12      125.551811
2017-02      -97.097496
2017-04      -29.370813
2017-05      167.657070
2017-06      -75.806067
2017-07       23.705103
2017-09      370.504791
2017-10      -86.919057
2017-11     1213.573766
2017-12       25.861031
Freq: M, Name: Sales, dtype: float64>

In [11]:
# Find cummulative sum by Customer id, Product name
# df_sal['cum_orders'] = df_sal.groupby('Customer ID')['Sales'].cumsum()
# df_sal[['Customer ID','cum_orders']]
# df_sal['Product Name'] = df_sal.groupby('Product Name')['Sales'].cumsum()
# df_sal.head(4)
df_sal['cum_sal'] = df_sal.groupby(['Product Name','Category'])['Sales'].cumsum()
df_sal[['cum_sal','Product Name','Category']]
df_sal['Product Name']

0                      Bush Somerset Collection Bookcase
1      Hon Deluxe Fabric Upholstered Stacking Chairs,...
2      Self-Adhesive Address Labels for Typewriters b...
3          Bretford CR4500 Series Slim Rectangular Table
4                         Eldon Fold 'N Roll Cart System
                             ...
196    Binney & Smith inkTank Erasable Desk Highlight...
197                Decoflex Hanging Personal Folder File
198    Pressboard Covers with Storage Hooks, 9 1/2" x...
199    Wirebound Message Books, 5-1/2 x 4 Forms, 2 or...
200    Southworth 25% Cotton Linen-Finish Paper & Env...
Name: Product Name, Length: 201, dtype: object

In [29]:
# FIND THE MOSST RECENT ORDER FOR EACH PRODUCT 
df_sales = pd.read_csv("Sample - Superstore.csv")
df_recent = df_sales.groupby("Product Name")["Order Date"].max().reset_index(name = "Most Recent Orders")
df_recent.sort_values(by = 'Most Recent Orders',ascending = False)

                                          Product Name Most Recent Orders
129                          Poly String Tie Envelopes         31-10-2015
150  Southworth 25% Cotton Antique Laid Paper & Env...         31-05-2015
160  Tenex Personal Project File with Scoop Front D...         31-05-2015
175                                         Xerox 1883         31-05-2015
185                                         Xerox 1999         31-01-2015
..                                                 ...                ...
84                     Hon Racetrack Conference Tables         02-03-2015
178                                         Xerox 1916         02-02-2017
155                                            Staples         02-02-2017
15   Anker 36W 4-Port USB Wall Charger Travel Power...         02-02-2017
166  Universal Premium White Copier/Laser Paper (20...         01-12-2016

[189 rows x 2 columns]

In [13]:
df_sales['Year'] = pd.to_datetime(df_sales['Order Date'],format='%d-%m-%Y')
df_sales['Year'] = df_sales['Year'].dt.to_period(freq = 'Y') # df_sales['Year'] = df_sales['Year'].dt.year
yearly_sales = df_sales.groupby('Year')['Sales'].sum()
yearly_sales_growth = ((yearly_sales - yearly_sales.shift())/yearly_sales.shift())*100
yearly_sales_growth_df = yearly_sales_growth.reset_index()
yearly_sales_growth_df.columns = ['Year','Sales Growth']
yearly_sales_growth_df

   Year  Sales Growth
0  2014           NaN
1  2015    -34.987099
2  2016    -17.985953
3  2017    -73.866249

In [25]:
# CALCULATE THE MOVING AVERAGE FOR 3 MONTHS
df_sales['Moving Average'] = df_sales['Sales'].rolling(3).mean()
df_sales.head(4)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Year,Moving Average
0,1,CA-2016-152156,08-11-2016,11-11-2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,2016,NaN
1,2,CA-2016-152156,08-11-2016,11-11-2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,2016,NaN
2,3,CA-2016-138688,12-06-2016,16-06-2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,2016,336.173333
3,4,US-2015-108966,11-10-2015,18-10-2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,2015,568.045833

In [53]:
# calculate difference 
df_sales['difference'] = df_sales['Sales'].diff()
df_sales.head(3)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,difference
0,1,CA-2016-152156,08-11-2016,11-11-2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136,NaN
1,2,CA-2016-152156,08-11-2016,11-11-2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820,469.98
2,3,CA-2016-138688,12-06-2016,16-06-2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62,2,0.0,6.8714,-717.32